th{
    background-color: lightgray;
}

table{
    /* width: 100x;
    height: 100x; */

    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);

    /* border: 2px solid red; */
    /* border-top: 2px dotted green; */
}

th{
     /* width: 100x;
    height: 100x; */

    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    /* border: 2px solid red; */
    /* border-top: 2px dotted green; */
}

td{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

table{
    /* width: 300px; */
    /* border: 2px solid red; */
    margin-top: 100px;
    margin-left: 100px;
    /* margin: 100px 0px 0px 100px; */
    /* padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */
    /* padding: 20px 0px 0px 30px; */
}

.img1{
    height: 250px;
    width: 330px;
    border-width: 5px;
    border-style: dashed;
    border-color: rgb(189, 148, 53);
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.img2{
    height: 300px;
    width: 440px;
    border-width: 5px;
    border-style: dashed;
    border-color: rgb(197, 41, 41);
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.img3{
    height: 350px;
    width: 500px;
    border-width: 5px;
    border-style: dashed;
    border-color: rgb(54, 21, 221);
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.para2{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 25px;
    }

.link1:hover {
color: red;
border: 2px solid black;
}

.link2:visited{
background-color: gray;
}

.link3:active{
background-color: orange;
}

